


.scene{
    width: 100vw;
    height: 100vh;
}

.canvas{
    background: #000;
}

.body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header{
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text{
    color: white;
    font-size: xx-large;
    font-family: Star Wars
}

.button{
    color: white;
    font-size: medium;  /* adjust as needed */
    border: 2px solid aliceblue;
    background-color: black;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 150px;
}

.button:hover {
    background-color: aliceblue;
}

