@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Star Wars';
  src: url('/fonts/Star%20Wars.ttf') format('truetype');  /* Corrected URL encoding and relative path */
  font-weight: normal;
  font-style: normal;
}

body{
  margin: 0;
  background-color: black;
  overflow: hidden;
}

.star-wars-front-text {
  font-family: 'Star Wars', sans-serif;
  font-weight: normal;
  font-size: 2.5rem;
  font-style: normal;
  color: #FFE81F;
}

.explore-button {
  color: white;
  font-size: medium;  /* adjust as needed */
  border: 2px solid aliceblue;
  background-color: black;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 150px;
}

.explore-button:hover {
  border-color: #FFE81F;
  color: #FFE81F;
}