@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Star Wars';
  src: url('/fonts/Star%20Wars.ttf') format('truetype');  /* Corrected URL encoding and relative path */
  font-weight: normal;
  font-style: normal;
}

body{
  margin: 0;
  background-color: black;
  overflow: hidden;
}

.star-wars-front-text {
  font-family: 'Star Wars', sans-serif;
  font-weight: normal;
  font-size: 2.5rem;
  font-style: normal;
  color: #FFE81F;
}

.welcome-text {
  font-family: 'Star Wars', sans-serif;
  font-weight: normal;
  font-size: 7rem;
  font-style: normal;
  color: #FFE81F;
}

.star-wars-paragraph{
  font-family: "Droid Sans Mono", monospace;
  font-size: 3rem;
  font-weight: bold;
  color: #FFE81F;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
}

.explore-button {
  color: white;
  font-size: medium;  
  border: 2px solid aliceblue;
  background-color: black;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 150px;
}

.explore-button:hover, .back-to-explore:hover{
  border-color: #FFE81F;
  color: #FFE81F;
}

.navigationButtons {
  position: absolute;
  top: 18%;
  left: 80%;
  z-index: 1;
}

.aboutMeButton {
  position: absolute;
  top: 18%;
  left: 68%;
  z-index: 1;
}


.crawl-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  transform: perspective(300px) rotateX(22deg);
  background-color: transparent;
  transform-origin: 50% 100%;
  /*border: 1px solid white;*/
}

.crawl-container:after {
  position: absolute;
  content: ' ';
  bottom:30%;
  left: 0;
  right: 0;
  top: 0;
}

.crawl {
  animation: scroll 25s linear;
  position: absolute;
  top: 0;
}

.hologram-container {
  position: relative;
  overflow: auto;
  top: 50%;
  width: 600px;
  height: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(145deg, rgba(0, 255, 255, 0.2), rgba(0, 153, 255, 0.1));
  border: 2px solid #00ffff; 
  border-radius: 15px;
  box-shadow:
          0 0 10px rgba(0, 255, 255, 0.5),
          0 0 20px rgba(0, 255, 255, 0.4),
          0 0 30px rgba(0, 153, 255, 0.3),
          0 0 50px rgba(0, 153, 255, 0.2); 
  backface-visibility: hidden;
  opacity: 0.9;
  color: #00ffff; 
  font-family: "Arial", sans-serif;
  text-align: center;
  z-index: 2;
  animation: flicker 2s infinite alternate, hologram-move 6s infinite;
  
}

@keyframes flicker {
  0%, 100% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.8;
  }
  25%, 75% {
    opacity: 1;
  }
}

@keyframes hologram-move {
  0%, 100% {
    transform: translate(-50%, -48%);
  }
  50% {
    transform: translate(-50%, -52%);
  }
}

@keyframes pulse {
  0%, 100% {
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0.2;
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.3;
  }
}


@keyframes text-flicker {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  25%, 75% {
    opacity: 0.8;
  }
}

@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -200%;
  }
}

@keyframes scroll-phase-two {
  0% {
    top: -100%;
  }
  100% {
    top: 0
  }
}
